:root {
	font-family: "Whitney", sans-serif;
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.blink {
	animation: identifier 1s linear infinite;
}

@keyframes identifier {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
